body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    color:white;
    background-color: #6C4F7D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
background-color: #9F69BE;
padding: 30px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}



.card > button{
    padding: 6px;
    margin: 10px;
    width: 80%;
    background-color: rgb(14, 126, 14);
    color: white;
    border: rgb(14, 126, 14);
}

.card > input{
    font-size: 20px;
}

#lista{
margin-top: 10vh;
background-color: #9F69BE;
padding: 30px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

li{
background-color: #7F4C9D;
padding: 30px;
border-radius: 10px;
display: flex;
margin: 5px;
width: 80%;
align-items: center;
justify-content: space-between;
}

li > button{
  width: 30%;
  height: 40px;
  background-color: rgb(55, 177, 18);
  border: rgb(55, 177, 18);
}